.testimonials-container {
  padding: var(--margin);
  background-color: var(--dark-gray);
}

.testimonials-title {
  font-family: var(--serif-font);
  color: var(--gray);
  text-align: center;
  margin-bottom: 50px;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
}
